<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-if v-else</title>
</head>
<body class="native">
	<div id="example">
		<p v-if="greeting">Hello</p>
		<p v-else="greeting">See you</p>
	</div>
	<template v-if="ok">
		<h1>title</h1>
		<p>paragraph 1</p>
	</template>
	<input type="text" v-model="message" placeholder="edit me">
	<script src="js/vue.js"></script>
	<script>
		var exampleVM2 = new Vue({
			el:"#example",
			data:{
				greeting: false
			}
		})

	</script>
</body>
</html>